.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  display: flex;
  height: 100vh; /* Full height for the app */
  overflow: hidden; /* Prevent overflow issues */
}

.content-container {
  flex: 1; /* Take up the remaining space next to the navigation */
  padding: 20px; /* Add padding for content */
  overflow-y: auto; /* Enable vertical scrolling for content */
  height: 100vh; /* Ensure the content container takes full height */
  box-sizing: border-box; /* Include padding in height calculation */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: Arial, sans-serif !important; /* ❌ this breaks Carbon */
}
