html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.14em;
}

* {
  box-sizing: border-box;
}
